In [1]:
import requests
import pandas as pd

In [2]:
key = "4dd05398874a3f0c4f32e74f4c0fa269655cf923"

In [3]:
requests.get("https://api.census.gov/data/2023/acs/acs1/profile?get=NAME&for=urban%20area:*"+key)

In [4]:
urbanAreas = requests.get("https://api.census.gov/data/2023/acs/acs1/profile?get=NAME&for=urban%20area:*")

cities = urbanAreas.json()
cityDF = pd.DataFrame(cities)
cityDF.to_csv('apiCity.csv', index=False)

In [5]:
urban_areas_df = pd.read_csv('../datasets/capstoneData.csv')
urban_areas = urban_areas_df['CensusCode']  # Assuming this column contains urban area codes (400)
codes = urban_areas_df.iloc[:, 3]

In [6]:
urban_areas_df = pd.read_csv('../datasets/capstoneData.csv', dtype={'CensusCode': str})

# If you're selecting the 3rd column (index 2), convert it to string as well
codes = urban_areas_df.iloc[:, 3]
codes

0     02305
1     40780
2     07786
3     50392
4     69184
      ...
95    83764
96    53200
97    57466
98    15481
99    16237
Name: CensusCode, Length: 100, dtype: object

In [8]:
populations = []
for i in codes:
    response = requests.get(f"https://api.census.gov/data/2023/acs/acsse?get=NAME,K200101_001E&for=urban%20area:{i}&key={key}")
    
    if response.status_code == 200:  # Check if the request was successful
        data = response.json()
        value = data[1][1]  # Access the second list, then the second element (the population)
        populations.append(value)  # Add the population to the list
    else:
        print(f"Error: {response.status_code} for urban area code {i}")
        populations.append(None)  # Append None if there was an error for this code

# Add the population data as a new column in the DataFrame
urban_areas_df['Population'] = populations

# Save the updated DataFrame back to a CSV file
urban_areas_df.to_csv('updated_capstoneData.csv', index=False)

# Optionally, check the DataFrame to see the new column
print(urban_areas_df.head())

          City     State StateCode CensusCode Population
0    Anchorage    Alaska        AK      02305     245624
1   Huntsville   Alabama        AL      40780     359389
2   Birmingham   Alabama        AL      07786     778756
3  Little Rock  Arkansas        AR      50392     467846
4      Phoenix   Arizona        AZ      69184    4065338

In [11]:
geographicMobility = []
for i in codes:
    response = requests.get(f"https://api.census.gov/data/2023/acs/acsse?get=NAME,K200701_002E&for=urban%20area:{i}&key={key}")
    
    if response.status_code == 200:  # Check if the request was successful
        data = response.json()
        value = data[1][1] 
        #print(value) # Access the second list, then the second element (the population)
        geographicMobility.append(value)  # Add the population to the list
    else:
        print(f"Error: {response.status_code} for urban area code {i}")
        geographicMobility.append(None)  # Append None if there was an error for this code

#Add the population data as a new column in the DataFrame
urban_areas_df['sameHouse1yr'] = geographicMobility

# Save the updated DataFrame back to a CSV file
urban_areas_df.to_csv('updated_capstoneData.csv', index=False)

# Optionally, check the DataFrame to see the new column
print(urban_areas_df.head())

197589
301448
669858
409973
3457480
728456
1730929
2636413
2922256
1499746
10680530
81865
507435
2220545
279237
482609
859217
4377744
107616
164227
1083342
5261172
1617321
203313
2463459
371916
111020
4492313
215299
254025
722550
469809
372413
7498122
1487031
239642
69017
422397
823601
202302
811945
3786006
1903204
182612
240990
522535
256178
3302368
2507900
101919
1462915
1865503
287171
46971
1218584
323810
259573
281130
972022
174272
240059
703271
136113
263241
664666
385052
1893730
831781
16972962
1483217
1306367
827094
626717
1764478
219099
1499862
5025246
1113285
595986
501408
180920
343914
890077
532120
986747
1574570
4960520
5137101
1696728
515145
980758
908718
1204716
95437
2960643
386753
360680
1129593
121105
69092
          City     State StateCode CensusCode Population sameHouse1yr
0    Anchorage    Alaska        AK      02305     245624       197589
1   Huntsville   Alabama        AL      40780     359389       301448
2   Birmingham   Alabama        AL      07786     778756       669858
3  Little Rock  Arkansas        AR      50392     467846       409973
4      Phoenix   Arizona        AZ      69184    4065338      3457480

In [12]:
urban_areas_df

           City           State StateCode CensusCode Population sameHouse1yr
0     Anchorage          Alaska        AK      02305     245624       197589
1    Huntsville         Alabama        AL      40780     359389       301448
2    Birmingham         Alabama        AL      07786     778756       669858
3   Little Rock        Arkansas        AR      50392     467846       409973
4       Phoenix         Arizona        AZ      69184    4065338      3457480
..          ...             ...       ...        ...        ...          ...
95      Spokane      Washington        WA      83764     458988       386753
96      Madison       Wisconsin        WI      53200     460255       360680
97    Milwaukee       Wisconsin        WI      57466    1290221      1129593
98   Charleston  West Virginia         WV      15481     133045       121105
99     Cheyenne         Wyoming        WY      16237      81378        69092

[100 rows x 6 columns]

In [13]:
car = []
for i in codes:
    response = requests.get(f"https://api.census.gov/data/2023/acs/acsse?get=NAME,K200801_002E&for=urban%20area:{i}&key={key}")
    if response.status_code == 200:  # Check if the request was successful
        data = response.json()
        value = data[1][1] 
        #print(value) # Access the second list, then the second element (the population)
        car.append(value)  # Add the population to the list
    else:
        print(f"Error: {response.status_code} for urban area code {i}")
        car.append(None)  # Append None if there was an error for this code

#Add the population data as a new column in the DataFrame
urban_areas_df['transportCar'] = car

# Save the updated DataFrame back to a CSV file
urban_areas_df.to_csv('updated_capstoneData.csv', index=False)

# Optionally, check the DataFrame to see the new column
print(urban_areas_df.head())

          City     State StateCode CensusCode Population sameHouse1yr  \
0    Anchorage    Alaska        AK      02305     245624       197589
1   Huntsville   Alabama        AL      40780     359389       301448
2   Birmingham   Alabama        AL      07786     778756       669858
3  Little Rock  Arkansas        AR      50392     467846       409973
4      Phoenix   Arizona        AZ      69184    4065338      3457480

  transportCar
0        94067
1       139891
2       285726
3       165697
4      1332557

In [14]:
publicTransport = []
for i in codes:
    response = requests.get(f"https://api.census.gov/data/2023/acs/acsse?get=NAME,K200801_002E&for=urban%20area:{i}&key={key}")
    if response.status_code == 200:  # Check if the request was successful
        data = response.json()
        value = data[1][1] 
        #print(value) # Access the second list, then the second element (the population)
        publicTransport.append(value)  # Add the population to the list
    else:
        print(f"Error: {response.status_code} for urban area code {i}")
        publicTransport.append(None)  # Append None if there was an error for this code

#Add the population data as a new column in the DataFrame
urban_areas_df['publicTransport'] = publicTransport

# Save the updated DataFrame back to a CSV file
urban_areas_df.to_csv('updated_capstoneData.csv', index=False)

# Optionally, check the DataFrame to see the new column
print(urban_areas_df.head())

          City     State StateCode CensusCode Population sameHouse1yr  \
0    Anchorage    Alaska        AK      02305     245624       197589
1   Huntsville   Alabama        AL      40780     359389       301448
2   Birmingham   Alabama        AL      07786     778756       669858
3  Little Rock  Arkansas        AR      50392     467846       409973
4      Phoenix   Arizona        AZ      69184    4065338      3457480

  transportCar publicTransport
0        94067           94067
1       139891          139891
2       285726          285726
3       165697          165697
4      1332557         1332557