In [6]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [7]:
city_data = pd.read_csv("algorithmData.csv")  # Replace with your dataset

# Normalize relevant columns
scaler = MinMaxScaler()
normalized_data = city_data.copy()
metrics = [
    "medianValue", "medianRent", "crime_rate", "parks_pp", "pop_density",
    "restaurants_pp", "nightlife_pp", "bars_pp", "international_airport",
    "amtrak", "car_percent", "public_transport_percent", "walked_percent",
    "museums_pp", "activities_pp", "republican", "democrat", "white_percent",
    "black_percent", "asian_percent", "two_plus_percent", "hispanic_percent",
    "foreign_born_percent", "max_avg_high", "max_avg_low", "mean_diff"
]
normalized_data[metrics] = scaler.fit_transform(city_data[metrics])

In [3]:
city_data

,City,State,StateCode,CensusCode,City_State,Latitude,Longitude,Population,sameHouse1yr,car_percent,...,activities_pp,nightlife_pp,museums_pp,max_avg_high,max_avg_low,mean_diff,International_airport,amtrak,crime_rate,pop_density
0,Birmingham,Alabama,AL,7786,"Birmingham, Alabama",33.520682,-86.802433,778756,669858,0.767944,...,0.000841,0.000343,0.000048,98.6,13.4,85.2,1,1,59.78,"1,365.37"
1,Huntsville,Alabama,AL,40780,"Huntsville, Alabama",34.729847,-86.585901,359389,301448,0.757183,...,0.001049,0.000373,0.000067,99.2,11.7,87.5,1,1,18.00,"1,006"
2,Anchorage,Alaska,AK,2305,"Anchorage, Alaska",61.216313,-149.894852,245624,197589,0.714008,...,0.003074,0.000464,0.000155,77.7,-13.2,90.9,1,0,38.97,170.6
3,Phoenix,Arizona,AZ,69184,"Phoenix, Arizona",33.448437,-112.074141,4065338,3457480,0.652450,...,0.000467,0.000118,0.000020,115.7,33.8,81.9,1,1,37.30,"3,102.92"
4,Tucson,Arizona,AZ,88732,"Tucson, Arizona",32.222876,-110.974847,879871,728456,0.700604,...,0.001250,0.000295,0.000075,110.7,25.6,85.1,1,1,41.56,"2,251.44"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Spokane,Washington,WA,83764,"Spokane, Washington",47.657193,-117.423510,458988,386753,0.701422,...,0.001113,0.000423,0.000026,99.1,-3.0,102.1,1,1,63.84,"3,300"
96,Charleston,West Virginia,WV,15481,"Charleston, West Virginia",38.350600,-81.633281,133045,121105,0.760975,...,0.001428,0.000458,0.000113,95.3,2.3,93.0,0,1,23.07,"1,491.83"
97,Madison,Wisconsin,WI,53200,"Madison, Wisconsin",43.074761,-89.383761,460255,360680,0.626675,...,0.002042,0.000639,0.000052,94.1,-13.9,108.0,0,1,27.66,"3,391"
98,Milwaukee,Wisconsin,WI,57466,"Milwaukee, Wisconsin",43.038648,-87.909075,1290221,1129593,0.713306,...,0.000853,0.000526,0.000061,95.0,-7.9,102.9,1,1,51.06,"6,000"
99,Cheyenne,Wyoming,WY,16237,"Cheyenne, Wyoming",41.139981,-104.820246,81378,69092,0.794392,...,0.001954,0.000479,0.000147,95.2,-13.0,108.2,0,1,40.57,"1,991.23"

In [8]:
print(city_data[metrics].dtypes)

medianValue                   int64
medianRent                    int64
crime_rate                  float64
parks_pp                    float64
pop_density                 float64
restaurants_pp              float64
nightlife_pp                float64
bars_pp                     float64
international_airport         int64
amtrak                        int64
car_percent                 float64
public_transport_percent    float64
walked_percent              float64
museums_pp                  float64
activities_pp               float64
republican                    int64
democrat                      int64
white_percent               float64
black_percent               float64
asian_percent               float64
two_plus_percent            float64
hispanic_percent            float64
foreign_born_percent        float64
max_avg_high                float64
max_avg_low                 float64
mean_diff                   float64
dtype: object

In [9]:
normalized_data

,City,State,StateCode,CensusCode,City_State,Latitude,Longitude,Population,sameHouse1yr,car_percent,...,activities_pp,nightlife_pp,museums_pp,max_avg_high,max_avg_low,mean_diff,international_airport,amtrak,crime_rate,pop_density
0,Birmingham,Alabama,AL,7786,"Birmingham, Alabama",33.520682,-86.802433,778756,669858,0.900089,...,0.103391,0.245643,0.022936,0.550000,0.459880,0.593607,1.0,1.0,0.543745,0.041012
1,Huntsville,Alabama,AL,40780,"Huntsville, Alabama",34.729847,-86.585901,359389,301448,0.870298,...,0.129811,0.270539,0.035387,0.565789,0.439521,0.619863,1.0,1.0,0.040251,0.028676
2,Anchorage,Alaska,AK,2305,"Anchorage, Alaska",61.216313,-149.894852,245624,197589,0.750773,...,0.387019,0.346058,0.093054,0.000000,0.141317,0.658676,1.0,0.0,0.292962,0.000000
3,Phoenix,Arizona,AZ,69184,"Phoenix, Arizona",33.448437,-112.074141,4065338,3457480,0.580357,...,0.055887,0.058921,0.004587,1.000000,0.704192,0.555936,1.0,1.0,0.272837,0.100656
4,Tucson,Arizona,AZ,88732,"Tucson, Arizona",32.222876,-110.974847,879871,728456,0.713666,...,0.155341,0.205809,0.040629,0.868421,0.605988,0.592466,1.0,1.0,0.324174,0.071428
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Spokane,Washington,WA,83764,"Spokane, Washington",47.657193,-117.423510,458988,386753,0.715930,...,0.137940,0.312033,0.008519,0.563158,0.263473,0.786530,1.0,1.0,0.592673,0.107421
96,Charleston,West Virginia,WV,15481,"Charleston, West Virginia",38.350600,-81.633281,133045,121105,0.880796,...,0.177950,0.341079,0.065531,0.463158,0.326946,0.682648,0.0,1.0,0.101350,0.045353
97,Madison,Wisconsin,WI,53200,"Madison, Wisconsin",43.074761,-89.383761,460255,360680,0.509001,...,0.255938,0.491286,0.025557,0.431579,0.132934,0.853881,0.0,1.0,0.156664,0.110545
98,Milwaukee,Wisconsin,WI,57466,"Milwaukee, Wisconsin",43.038648,-87.909075,1290221,1129593,0.748830,...,0.104916,0.397510,0.031455,0.455263,0.204790,0.795662,1.0,1.0,0.438660,0.200102
99,Cheyenne,Wyoming,WY,16237,"Cheyenne, Wyoming",41.139981,-104.820246,81378,69092,0.973307,...,0.244761,0.358506,0.087811,0.460526,0.143713,0.856164,0.0,1.0,0.312244,0.062496

In [ ]:
user_weights = {
    "COL": 0.8,  # Example weight from user slider
    "crime": 0.2,
    "nature": 0.8,
    "urban": 0.6,
    "diverse": 0.4,
    "dining": 0.6,
    "nightlife": 1.0,
    "airports": 0.2,
    "transportation": 0.8,
    "activities": 0.2,
    "politics": 1.0,
    "alignment": 0.8,
    "climate": 0.0,
    "seasonal": 0.4,
    "job-industry": .5
}

# Weight association
variable_to_columns = {
    "COL": ["medianValue", "medianRent"],
    "crime": ["crime_rate"],
    "nature": ["parks_pp"],
    "urban": ["pop_density"],
    "diverse": ["white_percent","black_percent", "asian_percent","two_plus_percent", "hispanic_percent","foreign_born_percent"],
    "dining": ["restaurants_pp"],
    "nightlife": ["nightlife_pp","bars_pp"],
    "airports": ["international_airport","amtrak"],
    "transportation": 0.8,
    "activities": 0.2,
    "politics": 1.0,
    "alignment": 0.8,
    "climate": 0.0,
    "seasonal": 0.4,
    "job-industry": .5
    # Add all mappings here
}

# Calculate scores
city_scores = []
for _, row in normalized_data.iterrows():
    score = 0
    for var, weight in user_weights.items():
        cols = variable_to_columns[var]
        metric_score = row[cols].mean()  # Use mean if multiple columns per variable
        score += weight * metric_score
    city_scores.append(score)

# Add scores to the dataset
normalized_data["score"] = city_scores

# Recommend top cities
top_cities = normalized_data.sort_values("score", ascending=False).head(10)
print(top_cities[["City", "score"]])